body {
  background-image: url("./multimedia/sko.jpg");
}
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

.middle{
  position: absolute;
  top: 17%;
  left: 2%;
  transform: translate(-5%,-5%);
}
.menu{
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
}
.item{
  border-top: 1px solid #2980b9;
  overflow: hidden;
}
.btn{
  display: block;
  padding: 16px 20px;
  background: #3498db;
  color: white;
  position: relative;
}
.btn:before{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background:#3498db;
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}
.btn i{
  margin-right: 10px;
}
.smenu{
  background: #333;
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}
.smenu a{
  display: block;
  padding: 16px 26px;
  color: white;
  font-size: 14px;
  margin: 4px 0;
  position: relative;
}
.smenu a:before{
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #3498db;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}
.smenu a:hover:before{
  opacity: 1;
}
.item:target .smenu{
  max-height: 10em;
}
h1{
  padding: 3% 15% 0 22%;
  text-align: center;
}
.buenas{
  padding: 17px 15% 0 22%;
  text-align: center;
}
footer {
            margin-top: -50px;
            height: 40px;
            padding:5px 0px;
            clear: both;
            text-align: center;

        }
        .masarriba{
          padding-bottom: 17%;
        }
.middle1{
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.btn1{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.btn1 i{
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}
.btn1:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn1::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn1:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}
